.realInput {
    display: none;
}

label.fictionalInput {
    background: #333333;
    color: #ffffff;

    padding: 42px 32px;
    
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    .inputContent {
        padding: 10px;
        background: #333;
    }
}