.bodyOpen {
    overflow-y: hidden;

    .modalOverlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background: rgba(0,0,0,.75);
    
        .modal {
            position: absolute;
            padding: 16px;
            padding-top: 64px;

            width: 80%;
            min-height: 80vh;
            top: 10vh;
            left: 10%;

            border-radius: 8px;
            background: #eee;

            .closeIcon {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
            .closeIcon::before, .closeIcon::after {
                content: "";
                position: absolute;
                left: -3px;
                width: 30px;
                height: 6px;
                background: black;
                top: 9px;
                transform-origin: center;
            }
            .closeIcon::before {
                transform: rotate(45deg);
            }
            .closeIcon::after {
                transform: rotate(-45deg);
            }
        }
    }
}